.container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: lightgray;
}

.tbc {
  width: 150px;
  height: 55px;
  vertical-align: middle;
}

a {
  color: navy;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
  vertical-align: middle;
}

a:active {
  color: black;
}

a:hover {
  color: gray;
}

.active {
  color: #4e6fae;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  vertical-align: middle;
}
.banner {
  width: 1263px;
  height: 700px;
}

.pcontext {
  padding-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}

.context {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(117, 112, 112);
}

.middletext {
  color: aliceblue;
  font-size: 50px;
}

p::first-letter {
  color: rgb(0, 0, 0);
}

.footer {
  padding: 40px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #243043;
}

.muse {
  color: white;
  font-family: Kaisei Decol;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}

h2 {
  color: whitesmoke;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

.divg {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1263px;
  height: 700px;
}

img {
  width: 150px;
  aspect-ratio: 1/1;
}

h1 {
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
}

.rock {
  padding-left: 50px;
}

.country {
  padding-left: 50px;
}

.jazz {
  padding-left: 50px;
}

.pop {
  padding-left: 50px;
}

.classical {
  padding-left: 50px;
}

.rap {
  padding-left: 50px;
}

.edm {
  padding-left: 50px;
}

.metal {
  padding-left: 50px;
}

.punk {
  padding-left: 50px;
}

.techno {
  padding-left: 50px;
}

.indie {
  padding-left: 50px;
}

.reggae {
  padding-left: 50px;
}

.latin {
  padding-left: 50px;
}
