.container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: lightgray;
}

.tbc {
  width: 150px;
  height: 55px;
  vertical-align: middle;
}

a {
  color: navy;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
  vertical-align: middle;
}

a:active {
  color: black;
}

a:hover {
  color: gray;
}

.active {
  color: #4e6fae;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  vertical-align: middle;
}
.banner {
  width: 1263px;
  height: 700px;
  /* width: 100%;
  height: 100%; */
  border-bottom: 1px solid #f1f1f1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.pcontext {
  padding-top: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  background-color: rgb(117, 112, 112);
  border: 5px solid black;
  outline: black solid 5px;
  margin: 5%;
}

.context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgb(117, 112, 112);
}

.middletext {
  width: 100%;
  text-align: middle;
  color: aliceblue;
  font-size: 50px;
}

p::first-letter {
  color: rgb(0, 0, 0);
}

.abc {
  padding: 5%;
  vertical-align: middle;
}

.favalbums {
  width: 100%;
  background-color: rgb(117, 112, 112);
  border: 5px solid black;
  outline: black solid 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 5%;
}

h6 {
  font-size: large;
  font-size: 50px;
  padding-bottom: 5%;
}
.ac {
  padding-bottom: 1%;
}

.middletext2 {
  width: 90%;
  text-align: middle;
  color: aliceblue;
  font-size: 50px;
}

.footer {
  padding: 40px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  background-color: #243043;
  display: flex;
}

.muse {
  color: white;
  font-family: Kaisei Decol;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}

h2 {
  color: whitesmoke;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

.phone {
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 10px;
  vertical-align: middle;
}

h3 {
  vertical-align: middle;
  display: inline-block;
  color: black;
  font-family: Kameron;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

.box2 {
  padding-top: 90px;
  padding-left: 60px;
}

label {
  color: whitesmoke;
  font-family: Kameron;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::placeholder {
  color: #99999a;
  font-family: Helvetica;
}

h4 {
  padding-top: 5px;
  color: white;
  font-family: Karla;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box3 {
  padding-top: 10px;
  padding-left: 230px;
  display: flex;
}

.divg {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 1263px;
  height: 700px;
  margin-bottom: 60px;
}

img {
  width: 150px;
  aspect-ratio: 1/1;
}

h1 {
  text-align: center;
  font-family: Roboto;
  font-weight: 1000;
  padding-top: 5px;
}

.rock {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.country {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.jazz {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.pop {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.classical {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.rap {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.edm {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.metal {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.punk {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.techno {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.indie {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.reggae {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.latin {
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  outline: navy solid 5px;
  background-color: lightgray;
}

.b1 {
  color: black;
}

.r1 {
  padding: 80px;
  background-color: #99999a;
  width: 100%;
}

.rockp {
  color: #fff;
  text-align: center;
  font-family: Judson;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 70px;
}

.rockt {
  padding: 30px;
  color: #fff;
  text-align: center;
  font-family: Karma;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rockt::first-letter {
  color: #243043;
}

.top20back {
  width: 100%;
  /* background-color: #022723; */
  background-color: #2b0101;
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
}

.at {
  /* margin-right: 3%; */
  width: 33%;
  border: 2px solid black;
  outline: black solid 5px;
  background-color: #dadbe1;
  text-align: center;
}

h5 {
  size: 56px;
  text-align: center;
  line-height: 64px;
}

.topsongs {
  background-color: #001735;
  width: 100%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}

.song {
  width: 90%;
  padding-bottom: 1%;
}

.playlists {
  width: 100%;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.play {
  width: 100%;
}
